.Navbar{
    display: flex;
    text-align: center;
    place-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.3);
    border: none;
    border-radius: 40px;
    height: 40px;
    padding-inline: 80px;
    column-gap: 30px;
    margin:auto;
    position: absolute;
}

.Nav-parts{
    display: flex;
}

