.Navbar{
    display: flex;
    text-align: center;
    place-items: center;
    justify-content: center;
    background-color: #00000033;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: none;
    border-radius: 40px;
    height: 40px;
    padding-inline: 20px;
    column-gap: 30px;
    margin-bottom: 2%;
    position: fixed;
    overflow: hidden;
    bottom:0;
}

nav a {
    display: flex;
    background: transparent;
    border-radius: 50%;
}

nav a:hover {
    background: rgba (0, 0, 0, 0.3);
}

nav a.active{
    background-color: blueviolet;
}

