.Navbar{
    display: flex;
    text-align: center;
    place-items: center;
    justify-content: center;
    background-color: #13131344;
    backdrop-filter: blur(8px);
    border: none;
    border-radius: 40px;
    height: 40px;
    padding-inline: 15px;
    column-gap: 20px;
    margin-bottom: 2%;
    position: fixed;
    overflow: hidden;
    bottom:0;
    color: pink
}

nav Link {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-radius: 50%;
    margin: 0,8px;
}

nav a:hover {
    background: linear-gradient(to right, #904e95, #e96443);
    border-radius: 50%;
    width: 30px;
    height: 30px;

}

nav a.active{
    background-color: purple;
}



