/* CSS VARIABLES */

/* Color mode used rgb */
    /* --main-color: rgb(128, 128, 128); 
    --second-color: rgb(66, 66, 66);
    --title-color;
    --text-color;
    --body-color;
    --container-color;

/* FONTS ANS TIPHOGRAPHY*/

/* } */ 


.App{
    display:flex;
    align-items:center;
    text-align: center;
    flex-direction: column;
    gap: 20px;
};

.flex-child{
    display: flex;
}

.flex-child1,.flex-child2, .flex-child3, .flex-child4{
    display: flex;
    text-align: center;
}


.flex-child1{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    gap: 10%;
    padding-bottom: 20%;
}


/*Github & Linkedin icons*/

.wrapped{
    display: flex;
    flex-direction: row;
    margin:0;
    padding:0;
    background-size: cover;
}

.button{
    display:flex;
    gap:2%;
    margin:0;
    padding:0;
    top:50%;
    left:50%;
    border-radius:50%;
    background-color: transparent;
}
 
.icon{
    display: flex;
    flex-direction: row;
    gap: 5%;
}


/* .icon .button a{
    position:relative;
    display: block;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    font-size: 30px;
    color: #ebebeb;
    transition: .5s;
} */

/* .icon .button a:before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #2e1e1e;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

.icon .button a:hover:before{

    transform: scale(1.2);
    box-shadow: 0 0 15px #ef41ff;
    filter: blur(30px);
}  */

#github{
    width: 42px;
    height: 42px;
}

#linkedin{
    width: 42px;
    height: 42px;
}


.stop .static{
    display: flex;
    justify-content: right;
}

#femdevv {
    width:70%;
    height:70%;
}

#femdevv:before{
    position:relative;
    width:70%;
    height:70%;
}

.CV a{
    width: 120px;
    height: 30px;
    font-style: white;
    border: white;
    border-radius: 20px 20px 20px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.CV a{
    color: white;

}

.CV:hover{
    width: 120px;
    height: 30px;
    border: white;
    border-radius: 10px 10px 10px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(to right, #904e95, #e96443)
}

/*==========HEADER CSS==========*/

.Header-main{
    background-color: rgb(119, 17, 119);
    width: 100%;
    height: 70px;
    display:flex;
    align-items: center;
    margin:0;
    padding:0;

}

#sunmoon{
    display: flex;
    justify-content: right;

}

#femdev{
    display: flex;
    justify-content: left;
    height: 60px;
    width: 60px;
}

/*==========HOME CSS==========*/
/* 
.section {
    height: 500px;
} */


/*=========EDUCATION CSS/=========*/

.flex-child4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: auto;
    padding-bottom: 5rem;
    margin-top: 10%;
}

.flex-child4 .education-row{
    display: flex;
    text-align: justify;
    flex-wrap: wrap;
    gap: 5rem;
}

.title{
    color: white;
}
.education-row .education-column{
    flex: auto;
}

.education-column .title{
    font-size: large;
    margin: 0 0 1.5rem 2rem;
}

.education-column .education-box{
    border-left: .1rem solid;
    border-left: 1px solid white;
}

.education-box .education-content{
    position: relative;
    padding-left: 2rem;
}

.education-box .education-content::before{
    content:'';
    position: absolute;
    top: 0;
    left: -.4rem;
    width: .8rem;
    height: .8rem;
    background: purple;
    border-radius: 50%;
}

.education-content .content{
    position: relative;
    padding: 1.5rem;
    border: .1rem solid white;
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.education-content .content::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: linear-gradient(to right, #904e95, #e96443);
    opacity: 0,5%;
    z-index: -1;
    transition: 0.5s;
    border: white;
}

.education-content .content:hover::before{
    width: 100%;
}
.education-content .content .year{
    font-size: medium;
    color: white;
    padding-bottom: .5rem;

}

.education-content .content h3{
    font-size: medium;

}


/*=========SKILLS CSS/=========*/
.flex-child2{
    display: flex;
    align-items:center;
    text-align:justify;
    border: black 1px solid;
    justify-content: space-around;
    padding: 5%;
    gap: 4%;
}

.icons{
    display: flex;
    flex-direction: column;
    width: 320px;
    border: black 1px solid;
}

#devlogs{
    height: 100px;
    width: 280px;

}

#python{
    width: 90px;
    height: 90px;
    margin-top: 2%;
    margin-left: 7px;
}

#reactpic{
    margin-top: 12px;
    width: 95px;
    height: 90px;
}

#mysql{
    width: 95px;
    height: 90px;
}

.softskills{
    border: black 1px solid;
}

.softskills .animate__fadeIn {
  animation-name: fadeInUp;
  --animate-duration: 8s;
}

/* .softskills .icons{
    
} */

/*==========CONTACT CSS==========/*/

.flex-child5{
    display: flex;
    height: 520px;
}
.contacts-main{
    display: flex;
    align-items: center;
}

h1{
    color: white;
}

#spanh1{
    color: purple;
}

#name, #email, #msg{
    background-color: transparent;
    border: 1px white solid;
    text-align:center
}

#name, #submit, #email{
    border-radius: 50px;
    height: 25px;
    width: 200px;
    text-decoration: white;
}

#msg{
    border-radius: 20px 20px 20px 20px;
    width: 200px;
}

form{
    display: flex;
    flex-direction: column;
    align-items:center;
    border-radius: 40px;
    justify-content:center;
    gap: 15px;
    border: 1px rgb(124, 13, 100) solid;
    margin-top: 3px;
    height: 300px;
    width: 400px;
}
.row{
    border-color: white;
}

#submit{
    border: 1px white solid;
    width: 80px;
    border-radius: 40px;
    color: #0f0a0f;
    background-color: transparent;
}

#submit:hover{
    background: linear-gradient(to right, #904e95, #e96443);
}

.error{
    color:red;
    font-size: 75%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }

/*==========FOOTER CSS==========/*/

.Footer-container{
    background-color: rgb(119, 17, 119);
    width: 100%;
    height: 70px;
    display:flex;
    align-items: center;
}

.copyright{
    font: white;
    margin: 2%;
}




