

/*========== Main container ===========*/
.App{
    display:flex;
    align-items:center;
    text-align: center;
    flex-direction: column;
    gap: 2.7rem;
};

.flex-child{
    display: flex;
}

.flex-child1,.flex-child2, .flex-child3, .flex-child4, .flex-child5{
    display: flex;
}


/*==========HOME CSS==========*/ 

.flex-child1{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    gap: 10%;
    padding-bottom: 20%;
}


/*Github & Linkedin icons*/

.wrapped{
    display: flex;
    flex-direction: row;
    margin:0;
    padding:0;
    background-size: cover;
}

.button{
    display:flex;
    gap:5%;
    margin:0;
    padding:0;
    top:50%;
    left:50%;
    border-radius:50%;
    background-color: transparent;
    will-change: filter;
    transition: filter 300ms;
}

.button:hover{
    filter: drop-shadow(0 0 1em #904e95)
}
 
.icon{
    display: flex;
    flex-direction: row;
    gap: 5%;
}

#github, #linkedin{
    width: 2.2rem;
    height: 2.2rem;
}

.stop{
    color: var(--text-color);
    font-family:Georgia;
}

.static{
    color: var(--main-color)
}

.stop .static{
    display: flex;
    justify-content: right;
}

#femdevv {
    width:70%;
    height:70%;
}

#femdevv:before{
    position:relative;
    width:70%;
    height:70%;
}

.CV a{
    width: 7.5rem;
    height: 1.8rem;
    border: var(--second-color);
    color: var(--second-color);
    border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
    font-family: 'Gill Sans', sans-serif;
}

.CV:hover{
    width: 120px;
    height: 30px;
    border: var(--second-color);
    border-radius: .6rem .6rem .6rem .6rem;
    font-family: 'Gill Sans MT', sans-serif;
    background: var(--bg-color)
}


/*==========NAVBAR ===========*/

.Navbar{
    display: flex;
    text-align: center;
    place-items: center;
    justify-content: center;
    background-color: var(--bg-nav);
    backdrop-filter: blur(8px);
    border: none;
    border-radius: 40px;
    height: 40px;
    padding-inline: 15px;
    column-gap: 20px;
    margin-bottom: 2%;
    position: fixed;
    overflow: hidden;
    bottom:0;
    color: var(--main-color);
}

nav Link {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-radius: 50%;
    margin: 0,8px;
}

nav a:hover {
    background:var(--bg-color);
    border-radius: 50%;
    width: 30px;
    height: 30px;

}

nav a.active{
    background-color: var(--main-color);
}

/*==========HEADER CSS==========*/

.Header-main{
    background-color: var(--main-color);
    width: 100%;
    height: 4.3rem;
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin:0;
    padding:0;
    gap: 50%;
}

#femdev{
    display: flex;
    height: 3.75rem;
    width:  3.75rem;
}


/* -------------- BUTTON -------------- */
/* ------------ BASE ------------ */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--light-color);
} */

.button1{
  background-color: var(--main-color);
  width: 4rem;
  height: 1.9rem;
  padding: 0 0.5em;
  border-radius: 2.5rem;
  box-shadow: inset 0 8px 60px rgba(0,0,0, .1),
              inset 0 8px 8px rgba(0,0,0, .1),
              inset 0 -4px 4px rgba(0,0,0, .1);
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.btn__indicator{
  background-color: var(--second-color);
  width: 1.5em;
  height: 1.5em;
  border-radius: 50px;
  position: absolute;
  box-shadow: 0 8px 40px rgba(0,0,0, .2);
  transition: transform .3s ease;
}

.btn__icon-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn__icon{
    display: flex;
    color: var(--light-icon-color);
    font-size: 1rem;
}

.btn__icon::before{
    color: var(--light-icon-color);
    font-size: 1rem;
  }

/* -------------- DARKMODE -------------- */
.body .darkmode{
  background-color: var(--dark-color);
}

.darkmode .button1{
  box-shadow: inset 0 8px 60px rgba(0,0,0, .3),
              inset 8px 0 8px rgba(0,0,0, .3),
              inset 0 -4px 4px rgba(0,0,0, .3);
}

.darkmode .btn__indicator{
  transform: translateX(1.5em);
  background-color: var(--dark-color);
  box-shadow: 0 8px 40px rgba(0,0,0, .3);
  width: 1.5em;
  height: 1.5em;
  border-radius: 50px;
}

.darkmode .btn__icon .animated{
  color: var(--dark-icon-color);
}

/*=========EDUCATION CSS/=========*/

.flex-child3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: auto;
    padding-bottom: 5rem;
    margin-top: 10%;
}

.flex-child3 .education-row{
    display: flex;
    text-align: justify;
    flex-wrap: nowrap;
    gap: 5rem;
}

@media only screen and (min-width: 300px) and (max-width: 754px) {
.flex-child3 .education-row{
    display: flex;
    text-align: justify;
    flex-wrap: wrap;
    gap: 5rem;
}
}


.title{
    color: var(--text-color);
}

.education-column{
    margin: 2%;

}
.education-row .education-column{
    flex: auto;
}

.education-column .title{
    font-size: large;
    margin: 0 0 1.5rem 2rem;
}

.education-column .education-box{
    border-left: .1rem solid;
    border-left: .1rem solid var(--second-color);
}

.education-box .education-content{
    position: relative;
    padding-left: 2rem;
}


.education-box .education-content::before{
    content:'';
    position: absolute;
    top: 0;
    left: -.4rem;
    width: .8rem;
    height: .8rem;
    background: var(--main-color);
    border-radius: 50%;
}

.content{
    border: .2rem solid var(--main-color);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

@media only screen and (min-width: 558px) and (max-width: 754px){
    .content{
    width: 500px;
    justify-content: center;
}
}


.education-content .content{
    position: relative;
    padding: 1.5rem;
    border: .1rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.education-content .content::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    opacity: 0,5%;
    z-index: -1;
    transition: 0.5s;
    border: var(--second-color);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.45) inset;
}

.education-content .content:hover::before{
    width: 100%;
}

.education-content .content .year{
    font-size: medium;
    color: var(--second-color);
    padding-bottom: .5rem;
}

.education-content .content h3{
    font-size: medium;
}


/*=========SKILLS CSS/=========*/
.flex-child2 {
    display: flex;
    align-items:center;
    justify-content:center;
    padding: 5%;
    text-decoration: var(--text-color);
    flex-wrap: wrap;
}

@media only screen and (min-width: 300px) and (max-width: 1000px) {

    .flex-child2 .hardskills{
        display: flex;
        text-align: justify;
        flex-wrap: wrap;
    }

}

.hardskills{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10%;
    gap: 3rem;
}

.hs{
    display: flex;
    background-color: var(--main-color);
    border: purple 1px solid;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    height: 120px;
    width: 120px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


.softskills{
    margin-top: 15%;
    font: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: small;
    color: var(--second-color);
}

@media (max-width: 2150px) {
    .hardskills, .softskills {
      flex: 100%;
    }
h1.animate__animated.animate__fadeInUp {
    color: var(--text-color);
}

}

/* .softskills .animate__animated.animate__fadeInUp {
  animation-name: fadeInUp;
  --animate-duration: 8s;
  color: var(--second-color);
} */

#python{
    width: 5.6rem;
    height: 5.6rem;
    margin-top: 2%;
    margin-left: 0.4rem;
}

#reactpic{
    margin-top: 0.75rem;
    width: 5.9rem;
    height: 5.6rem;
}

#mysql{
    width: 5.9rem;
    height: 5.6rem;
}

#html100,
#java {
    width: 5.6rem;
    height: 5.6rem;
}

#css3{
    width: 5.1rem;
    height: 6rem;
}

/*==========WORK=========*/


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .carousel-inner {
      height: 400px;
  }
  
  .carousel-item, .carousel-item img {
      height: 400px;
    width:100%;
  }
  
  } 
  
  /* Extra small devices (phones, 600px and down)  */
   @media only screen and (min-width:380) and (max-width: 767px) {
      .carousel-inner {
      height: 160px;
  }
  
  .carousel-item, .carousel-item img {
      height: 160px;
    width:100%
  }
  }

/*==========CONTACT CSS==========/*/

.flex-child5{
    display: flex;

}

.contacts-main{
    display: flex;
    align-items: center;

}

h1, strong{
    color: var(--second-color);
}

#spanh1{
    color: var(--main-color);
}

input, textarea{
    color: var(--text-color);
}
#name, #email, #msg{
    background-color: transparent;
    border: 1px solid var(--main-color);
    text-align:center
}

#name, #submit, #email{
    border-radius: 3.1rem;
    height: 1.5rem;
    width: 12.5rem;
    text-decoration: var(--text-color);
}

.name:hover{
    background: var(--bg-color);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.45) inset;
}
.email:hover{
    background: var(--bg-color);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.45) inset;
}
.message:hover{
    background: var(--bg-color);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.45) inset;
}
#msg{
    border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
    width: 12.5rem
}

form{
    display: flex;
    flex-direction: column;
    align-items:center;
    border-radius: 2.5rem;
    justify-content:center;
    gap: 1rem;
    border: 2px solid var(--main-color);
    margin-top: .2rem;
    height: 18.75rem;
    width: 25rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
    form{
        display: flex;
        flex-direction: column;
        align-items:center;
        border-radius: 2.5rem;
        justify-content:center;
        gap: 1rem;
        border: 2px solid var(--main-color);
        margin-top: .2rem;
        height: 18.75rem;
        width: 20rem;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    }

  }
  
  
.row{
    border-color: var(--second-color);
    align-items: center;
    width: 12.5rem;
    height: 2.5rem;
}

.submit{
    margin-top: 2%;
}
#submit{
    border: 1px solid var(--main-color);
    width: 5rem;
    border-radius: 2.5rem;
    color: var(--text-color);
    background-color: var(--main-color);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.45) inset;
}

#submit:hover{
    background: var(--bg-color);
}

::placeholder { 
    color: var(--second-color);
    opacity: 1; 
  }

/*==========FOOTER CSS==========/*/

.Footer-container {
    background-color: var(--main-color);
    width: 100%;
    display:flex;
    justify-content:start;
    font-size: small;
    color: var(--text-color);
}

#content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1%;
    margin-top: 1%;
}

p{
    justify-content: center;
    align-items: center;
}

/*========== SCROLL TO TOP =========*/

.scroll-top a{
    position: fixed;
    margin-bottom: 1.5%;
    bottom: 2em;
    right: 1em;
    background-color: transparent;
    font-size: xx-large;
    color: var(--second-color);
  }
  
  .animate__animated .animate__bounce .animate__infinite{
    
  }

  @media ((max-width: 900px) and (min-width: 300px)) {
    .scroll-top {
      display: none;
    }
  }