/* CSS VARIABLES */

/* Color mode used rgb
--main-color:  
--second-color: rgb(66, 66, 66);
--title-color;
--text-color;
--body-color;
--container-color; */

/* FONTS ANS TIPHOGRAPHY*/

/*Main container*/
.App{
    display:flex;
    align-items:center;
    text-align: center;
    flex-direction: column;
    gap: 2.7rem;
};

.flex-child{
    display: flex;
}

.flex-child1,.flex-child2, .flex-child3, .flex-child4, .flex-child5{
    display: flex;
}


/*==========HOME CSS==========*/ 

.flex-child1{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    gap: 10%;
    padding-bottom: 20%;
}


/*Github & Linkedin icons*/

.wrapped{
    display: flex;
    flex-direction: row;
    margin:0;
    padding:0;
    background-size: cover;
}

.button{
    display:flex;
    gap:2%;
    margin:0;
    padding:0;
    top:50%;
    left:50%;
    border-radius:50%;
    background-color: transparent;
}
 
.icon{
    display: flex;
    flex-direction: row;
    gap: 5%;
}

#github, #linkedin{
    width: 2.2rem;
    height: 2.2rem;
}

.stop{
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.stop .static{
    display: flex;
    justify-content: right;
}

#femdevv {
    width:70%;
    height:70%;
}

#femdevv:before{
    position:relative;
    width:70%;
    height:70%;
}

.CV a{
    width: 7.5rem;
    height: 1.8rem;
    border: white;
    color: white;
    border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.CV:hover{
    width: 120px;
    height: 30px;
    border: white;
    border-radius: .6rem .6rem .6rem .6rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(to right, #904e95, #e96443)
}

/*==========HEADER CSS==========*/

.Header-main{
    background-color: rgb(119, 17, 119);
    width: 100%;
    height: 4.3rem;
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin:0;
    padding:0;
}

#sunmoon {
    display: flex;
    align-items: flex-end;
}

#femdev{
    display: flex;
    height: 3.75rem;
    width:  3.75rem;
}

/* BUTTOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOON*/

CSS

/* ------------ VARIABLES ------------ */
:root{
  /* COLORS */
  --color: #9176FF;
  --dark-color: #2b2b2b;
  --dark-icon-color: #fff;
  --light-color: #f7f7f7;
  --light-icon-color: #FFDE59;
}

/* ------------ BASE ------------ */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--light-color);
} */

/* -------------- BUTTON -------------- */
.button1{
  background-color: #751b75;
  width: 4rem;
  height: 1.9rem;
  padding: 0 0.5em;
  border-radius: 2.5rem;
  box-shadow: inset 0 8px 60px rgba(0,0,0, .1),
              inset 0 8px 8px rgba(0,0,0, .1),
              inset 0 -4px 4px rgba(0,0,0, .1);
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.btn__indicator{
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50px;
  position: absolute;
  box-shadow: 0 8px 40px rgba(0,0,0, .2);
  transition: transform .3s ease;
}

.btn__icon-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn__icon{
  color: var(--light-icon-color);
  font-size: 1rem;
}

.btn__icon::before{
    color: var(--light-icon-color);
    font-size: 1rem;
  }

/* -------------- ANIMATION ------------ */
.btn__icon.animated{
  animation: spin 0.5s;
}

@keyframes spin{
  to {
    transform: rotate(360deg);
  }
}

/* -------------- DARKMODE -------------- */
.body .darkmode{
  background-color: var(--dark-color);
}

.darkmode .btn{
  box-shadow: inset 0 8px 60px rgba(0,0,0, .3),
              inset 8px 0 8px rgba(0,0,0, .3),
              inset 0 -4px 4px rgba(0,0,0, .3);
}

.darkmode .btn__indicator{
  transform: translateX(1.5em);
  background-color: var(--dark-color);
  box-shadow: 0 8px 40px rgba(0,0,0, .3);
  width: 1.5em;
  height: 1.5em;
  border-radius: 50px;
}

.darkmode .btn__icon{
  color: var(--dark-icon-color);
}

/*=========EDUCATION CSS/=========*/

.flex-child3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: auto;
    padding-bottom: 5rem;
    margin-top: 10%;
}

.flex-child3 .education-row{
    display: flex;
    text-align: justify;
    flex-wrap: wrap;
    gap: 5rem;
}

.title{
    color: white;
}
.education-row .education-column{
    flex: auto;
}

.education-column .title{
    font-size: large;
    margin: 0 0 1.5rem 2rem;
}

.education-column .education-box{
    border-left: .1rem solid;
    border-left: .1rem solid white;
}

.education-box .education-content{
    position: relative;
    padding-left: 2rem;
}


.education-box .education-content::before{
    content:'';
    position: absolute;
    top: 0;
    left: -.4rem;
    width: .8rem;
    height: .8rem;
    background: purple;
    border-radius: 50%;
}

.content{
    border: .2rem solid purple;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.education-content .content{
    position: relative;
    padding: 1.5rem;
    border: .1rem solid purple;
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.education-content .content::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: linear-gradient(to right, #904e95, #e96443);
    opacity: 0,5%;
    z-index: -1;
    transition: 0.5s;
    border: white;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.45) inset;
}

.education-content .content:hover::before{
    width: 100%;
}
.education-content .content .year{
    font-size: medium;
    color: white;
    padding-bottom: .5rem;
}

.education-content .content h3{
    font-size: medium;
}


/*=========SKILLS CSS/=========*/
.flex-child2 {
    display: flex;
    align-items:center;
    justify-content:center;
    padding: 5%;
    gap: 5%;
    text-decoration: #ffffff;
}

.hardskills{
    display: flex;
    flex-direction: column;
    gap: 10%;
    gap: 3rem;
}

#up{
    display: flex;
    margin: 3%;
}

.softskills{
    font: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

h1.animate__animated.animate__fadeInUp {
    color: white;
}
.softskills .animate__fadeIn {
  animation-name: fadeInUp;
  --animate-duration: 8s;
}

#python{
    width: 5.6rem;
    height: 5.6rem;
    margin-top: 2%;
    margin-left: 0.4rem;
}

#reactpic{
    margin-top: 0.75rem;
    width: 5.9rem;
    height: 5.6rem;
}

#mysql{
    width: 5.9rem;
    height: 5.6rem;
}

#html100,
#java,
#css{
    width: 5.6rem;
    height: 5.6rem;
}
/*==========WORK=========*/


/* Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .carousel-inner {
      height: 400px;
  }
  
  .carousel-item, .carousel-item img {
      height: 400px;
    width:100%;
  }
  
  } 
  
  /* Extra small devices (phones, 600px and down) */
  /* @media only screen and (max-width: 767px) {
      .carousel-inner {
      height: 160px;
  }
  
  .carousel-item, .carousel-item img {
      height: 160px;
    width:100%
  }
  } */ */

/*==========CONTACT CSS==========/*/

.flex-child5{
    display: flex;

}

.contacts-main{
    display: flex;
    align-items: center;
}

h1, strong{
    color: rgb(255, 255, 255);
}

#spanh1{
    color: purple;
}

input, textarea{
    color: white;
}
#name, #email, #msg{
    background-color: transparent;
    border: 1px purple solid;
    text-align:center
}

#name, #submit, #email{
    border-radius: 3.1rem;
    height: 1.5rem;
    width: 12.5rem;
    text-decoration: white;
}

.name:hover{
    background: linear-gradient(to right, #904e95, #e96443);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.45) inset;
}
.email:hover{
    background: linear-gradient(to right, #904e95, #e96443);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.45) inset;
}
.message:hover{
    background: linear-gradient(to right, #904e95, #e96443);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.45) inset;
}
#msg{
    border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
    width: 12.5rem
}

form{
    display: flex;
    flex-direction: column;
    align-items:center;
    border-radius: 2.5rem;
    justify-content:center;
    gap: 1rem;
    border: 2px rgb(124, 13, 100) solid;
    margin-top: .2rem;
    height: 18.75rem;
    width: 25rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.row{
    border-color: white;
    align-items: center;
    width: 12.5rem;
    height: 2.5rem;
}

.submit{
    margin-top: 2%;
}
#submit{
    border: 1px purple solid;
    width: 5rem;
    border-radius: 2.5rem;
    color: #ffffff;
    background-color: purple;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.45) inset;
}

#submit:hover{
    background: linear-gradient(to right, #904e95, #e96443);
}

::placeholder { 
    color: white;
    opacity: 1; 
  }

/*==========FOOTER CSS==========/*/

.Footer-container {
    display: flex;
    background-color: rgb(119, 17, 119);
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content:start;
    align-items: start;
    font-size: small;
    gap:0;
    bottom:0px;
    color: white;
}

#content p{
    
    text-align: start;
    align-content: center;
    padding:0;

}