/* CSS VARIABLES */

/* Color mode used rgb */
    /* --main-color: rgb(128, 128, 128); 
    --second-color: rgb(66, 66, 66);
    --title-color;
    --text-color;
    --body-color;
    --container-color;

/* FONTS ANS TIPHOGRAPHY*/

/* } */ 


.App{
    display:flex;
    align-items:center;
    flex-direction: column;

};

.flex-child{
    display: flex;
    height: max-content;
}

.flex-child1,.flex-child2, .flex-child3, .flex-child4, .flex-child5{
    display: flex;
    height: 400px;
}

#iconspic{
    width: 200px;
    height: 200px;
}

#reactpic{
    width: 180px;
    height: 150px;

}