/* CSS VARIABLES */

/* Color mode used rgb */
    /* --main-color: rgb(128, 128, 128); 
    --second-color: rgb(66, 66, 66);
    --title-color;
    --text-color;
    --body-color;
    --container-color;

/* FONTS ANS TIPHOGRAPHY*/

/* } */ 


.App{
    display:flex;
    align-items:center;
    text-align: center;
    flex-direction: column;
    gap: 20px;
};

.flex-child{
    display: flex;
}

.flex-child1,.flex-child2, .flex-child3, .flex-child4{
    display: flex;
    height: 600px;
    text-align: center;
}

.flex-child2{
    display: flex;
    align-items:center;
    gap: 100px;
}


/*==========HEADER CSS==========*/

.Header-main{
    background-color: rgb(119, 17, 119);
    width: 100%;
    height: 70px;
    display:flex;
    align-items: center;

}

#sunmoon{
    display: flex;
    justify-content: right;

}

#femdev{
    display: flex;
    justify-content: left;
    height: 60px;
    width: 60px;
}

/*==========HOME CSS==========*/

.section {
    height: 500px;
}

/* img #girl{
    height: 30px;
    width: 40px ;

} */

/*=========SKILLS CSS/=========*/

.icons{
    display: flex;
}
#iconspic{
    width: 200px;
    height: 200px;
}

#python{
    width: 80px;
    height: 80px;
    margin-top: 14px;
    margin-right: 10px;;
}

#reactpic{
    margin-top: 12px;
    width: 95px;
    height: 90px;
}

.softskills{

  }
  
  .softskills .animate__fadeIn {
    animation-name: fadeInUp;
    --animate-duration: 8s;
  }

/*==========CONTACT CSS==========/*/

.flex-child5{
    display: flex;
    height: 520px;
}
.contacts-main{
    display: flex;
    align-items: center;
}

h1{
    color: white;
}

#spanh1{
    color: purple;
}

#name, #email, #msg{
    background-color: transparent;
    border: 1px white solid;
    text-align:center
}

#name, #submit, #email{
    border-radius: 50px;
    height: 25px;
    width: 200px;
    text-decoration: white;
}

#msg{
    border-radius: 20px 20px 20px 20px;
    width: 200px;
}

form{
    display: flex;
    flex-direction: column;
    align-items:center;
    border-radius: 40px;
    justify-content:center;
    gap: 15px;
    border: 1px rgb(124, 13, 100) solid;
    margin-top: 3px;
    height: 300px;
    width: 400px;
}
.row{
    color: white;
}

#submit{
    border: 1px white solid;
    width: 80px;
    border-radius: 40px;
    color: #0f0a0f;
    background-color: transparent;
}

#submit:hover{
    background: linear-gradient(to right, #904e95, #e96443);
}

.error{
    color:red;
    font-size: 75%;
}



/*==========FOOTER CSS==========/*/

.Footer-container{
    background-color: rgb(119, 17, 119);
    width: 100%;
    height: 70px;
    display:flex;
    align-items: center;
}




