/* CSS VARIABLES */

/* Color mode used rgb */
    /* --main-color: rgb(128, 128, 128); 
    --second-color: rgb(66, 66, 66);
    --title-color;
    --text-color;
    --body-color;
    --container-color;

/* FONTS ANS TIPHOGRAPHY*/

/* } */ 

.Container-main{
    display:flex;
    align-items: center;
}

.Container-hijo{

}




