*{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    box-sizing:border-box;
    list-style:none;
    text-decoration: none;
}
body{
    --main-color: purple;
    --second-color: white;        
    --title-color: purple;
    --text-color: white;
    --body-color:  linear-gradient(to right, #904e95, #e96443);
    --container-color: linear-gradient(to right, #904e95, #e96443);
    --bg-color: linear-gradient(to right, #904e95, #e96443);
    --bg-nav: #13131344;
    --education-boxcolor: transparent

    
        /* TOGGLE COLORS */
        --color: #9176FF;
        --dark-color: #2b2b2b;
        --dark-icon-color: #fff;
        --light-color: #f7f7f7;
        --light-icon-color: #9702a5;
}

body{
    background: linear-gradient(to right, #904e95, #e96443);
    background-attachment:fixed;
    /* background-image: url(./img/Grapefruit\ Sunset.jpg) ;
    background-repeat: repeat repeat;
    background-size: 100%;
    background-attachment: fixed;
    width: 100%;
    margin:0px;*/
}

body.darkmode{
    background: var(--dark-color);
    --main-color: purple;
    --second-color: white;        
    --title-color: purple;
    --text-color: white;
    --body-color:  linear-gradient(to right, #904e95, #e96443);
    --container-color: linear-gradient(to right, #904e95, #e96443);
    --bg-color: linear-gradient(to right, #904e95, #e96443);
    --bg-nav: #3c004444;
}

