@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    box-sizing:border-box;
    list-style:none;
    text-decoration: none;
}
#root{
    /*Colors variables */
   
    /* --main-color: ;
    --bg-color: 
    --second-color:;
    --title-color:;
    --text-color:;
    --body-color:;
    --container-color; */
    
    /*Container-sizing*/
    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-ms:90%;


    
}

body{
    background: linear-gradient(to right, #904e95, #e96443);
}

